* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0% 15%;
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
}

h4 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  text-decoration: none;
}
